.message-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border-radius: 10px;
    min-width: 70%;
    max-width: 70%;
    width: fit-content;
}

.message-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin: 10px 0;
    background-color: #90dee0;
    border-radius: 10px;
    min-width: 70%;
    max-width: 70%;
    margin-left: auto;
    width: fit-content;
}

.ant-list-item-meta {
    width: 100%;
}

.ant-list-item-meta-title {
    white-space: normal;
}

.message-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.message-content {
    font-size: 16px;
    font-weight: 400;
}

.attachment-list {
    margin-top: 1px;
}
